body{
    background-color: #EEE;
    font-family:Helvetica;
}

#container {
    width:900px;
    margin:0 auto;
}

#heading{
    background-color:gray;
}       

h1 {
    color: white;
    text-align:center;
    padding:10px;
}

h2 {
    text-align:center;
}

a {
    background-color:gray;
    padding:10px;
    border-radius:5px;
    text-decoration:none;
    color:white;
}

#main{
    width:800px;
    margin:0 auto;
}

td {
    border: solid 2px gray;
    padding:10px;
}
footer {
    font-size:15px;
    text-align:center;
    color:gray;
    height:20px;
}
