            #footer{
                font-size:.8em;
                text-align: right;
                background-color:#999999;
                color:white;
            }
            #container {
                background-color:white;
                width: 800px;
                margin-left:auto;  /* this aligns the whole section in the center */
                margin-right: auto;
            }
            body{
                background-color: #EEE;
                font-family:Helvetica;
            }
            #heading{
                background-color:#66CCFF;
                color: white;
                text-align:center;
            }
            #content{
                padding: 10px;
                
            }
            #main{
                width:600px;
                float: right;
                padding:10px;
            }
            .bottomRight{
                position: absolute;
                bottom:8px;
                right: 16px;
                font-size: 25px;
                border: 5px solid #f44242;
            }